*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
body{
    background-color: hsl(213, 100%, 98%);
}
.btn{
    padding: 13px 26px;
    border-radius: 8px;
    color: white;
    background-color: #4E47FF;
    border: 2px solid #4E47FF;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    color: #4E47FF;
    border: 2px solid #4E47FF;
    background-color: whitesmoke;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 26px;
    border-radius: 8px;
}
#font{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}
/* Header with Nav & Banner */

header{
    background-image: url(Assets/Hero-bg.png);
    height: 678px;
}
.nav-bar{
    display: flex;
    width: 1280px;
    margin: auto;
    padding-top: 20px;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.nav-bar ul{
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.nav-bar li{
    list-style: none;
}
.nav-bar a{
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-size: 20px;
    font-weight: 600;
}
a:hover{
    color:black;
}
.nav-bar h1{
    color: #4E47FF;
    font-weight: 900;
    font-size: 40px;
}

.banner h1{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  margin-bottom: 60px;
}

.banner{
    width: 1280px;
    margin: 150px auto;
    text-align: center;
    align-content: center;
}

/* Launching Section */

#launching-sec{
    display: flex;
    width: 1280px;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}
#launching-sec img{
    border-radius: 40px;
}
#launching-sec p{
    margin: 25px 0px;
    color: #868589;
    font-size: 30px;
}

/* Statistic section  */

#stat-sec{
    width: 1280px;
    margin: auto;
    justify-items: center;
    background-color: #4d47ff21;
    padding: 50px 0px;
    border-radius: 40px;
}

#stat-sec h1{
    font-size: 43px;
}
.statistics{
    display: flex;
    gap: 150px;
    font-size: 22px;
    margin-top: 40px;
    text-align: center;
    color: #868589;
}

.statistics h2{
    font-size: 90px;
    color: #4E47FF;
}

/* Selling section  */
#sell-sec{
    width: 1280px;
    margin: 100px auto;
    text-align: center;
    justify-items: center;
    background-color: white;
    border-radius: 40px;
    padding: 100px 0px;
    font-size: 40px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}
    
#sell-sec img{
    display: block;
    margin-top: 30px;
    border-radius: 40px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}
#sell-sec p{
    font-size: 25px;
    margin: 15px 0px;
    color: #868589;
}

/* Login section  */
#login-sec{
    display: flex;
    max-width: 1280px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;

}
form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 550px;
    font-size: 20px;
    font-weight: 500;
}
#login-sec h1{
    font-size: 100px;
}
.login{
    margin: 20px 0px;
    padding: 20px 160px 20px 50px;
    border-radius: 10px;
    border: 1px solid rgb(173, 170, 170);
    font-size: 20px;
}
.textbox{
    height: 100px;
    
}
.log{
    font-size: 18px;
    padding: 17px 0px;
}
.log:hover{
    color: #4E47FF;
    border: 2px solid #4E47FF;
    background-color: whitesmoke;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 0px;
    border-radius: 8px;
}

/* Footer Section  */

footer{
    justify-items: center;
    text-align: center;
    color: #868589;
    padding: 100px 0px;
    background-color: white;
}
footer h1{
    font-size: 120px;
    color: #4E47FF;
}
footer p{
    margin: 10px 0px 50px 0px;
}
footer ul,a{
    display: flex;
    list-style: none;
    gap: 80px;
    font-size: 20px;
    text-decoration: none;
    color: #868589;
}


