*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
.btn{
    padding: 13px 26px;
    border-radius: 8px;
    color: white;
    background-color: #4E47FF;
    border: 2px solid #4E47FF;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    color: #4E47FF;
    border: 2px solid #4E47FF;
    background-color: whitesmoke;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 26px;
    border-radius: 8px;
}

/* Header with Nav & Banner */

header{
    background-image: url(Assets/Hero-bg.png);
    height: 678px;
}
.nav-bar{
    display: flex;
    width: 1280px;
    margin: auto;
    padding-top: 20px;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.nav-bar ul{
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.nav-bar li{
    list-style: none;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.nav-bar h1{
    color: #4E47FF;
    font-weight: 900;
    font-size: 40px;
}

.banner h1{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  margin-bottom: 60px;
}

.banner{
    width: 1280px;
    margin: 150px auto;
    text-align: center;
    align-content: center;
}

/* Launching Section */

#launching-sec{
    display: flex;
    width: 1280px;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
}
#launching-sec img{
    border-radius: 40px;
}
#launching-sec p{
    margin: 25px 0px;
    color: #666571;
}